
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.bg-000{background-color: #000}
.bg-111{background-color: #111}
.bg-222{background-color: #222}
.bg-333{background-color: #333}
.bg-444{background-color: #444}
.bg-555{background-color: #555}
.bg-666{background-color: #666}
.bg-777{background-color: #777}
.bg-888{background-color: #888}
.bg-999{background-color: #999}
.bg-aaa{background-color: #aaa}
.bg-bbb{background-color: #bbb}
.bg-ccc{background-color: #ccc}
.bg-ddd{background-color: #ddd}
.bg-eee{background-color: #eee}
.bg-fff{background-color: #fff}
.tip{color:#0a5d3e}
.tip:hover{color:#da3b1f}
.info>.card{
    display:none ;
    z-index: 1200;
    position: absolute;
    background:white;
    border:1px solid #eee;
    box-shadow: 2px 3px 10px 0px #888;
}
.info>.card.img{
    display:none ;
    z-index: 1200;
    position: absolute;
    background:white;
    margin-left:50%;
    border:1px solid #eee;
    box-shadow: 2px 3px 10px 0px #888;
    top:20%;
    right:40%;
}
.info:hover>.card{display:block}
.select .locations {font: normal 1.2em monospace;}
.select .locations:focus {font: normal 2.0em monospace;}
.select .locations *{}
.NotAvailable{background-color:#ffd5d5}
.Created{background-color:#d5ffe6}
.OnTheWay{background-color:#c9c6f4}
.Reactived{background-color:#c9c6f4}
.InvoiceNumber{font-size:1.5em}
.fixedWidthFont{font-family: monospace;}
#flash {
    -webkit-animation-name: colorsTransition;
    -webkit-animation-duration: .4s;
    animation-name: colorsTransition;
    animation-duration: .4s;
}

@-webkit-keyframes colorsTransition {
    from {background-color: red;}
    to {background-color: white;}
}

@keyframes colorsTransition {
    from {background-color: red;}
    to {background-color: white;}
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
