
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.bg-000{background-color: #000}
.bg-111{background-color: #111}
.bg-222{background-color: #222}
.bg-333{background-color: #333}
.bg-444{background-color: #444}
.bg-555{background-color: #555}
.bg-666{background-color: #666}
.bg-777{background-color: #777}
.bg-888{background-color: #888}
.bg-999{background-color: #999}
.bg-aaa{background-color: #aaa}
.bg-bbb{background-color: #bbb}
.bg-ccc{background-color: #ccc}
.bg-ddd{background-color: #ddd}
.bg-eee{background-color: #eee}
.bg-fff{background-color: #fff}
.tip{color:#0a5d3e}
.tip:hover{color:#da3b1f}
.info>.card{
    display:none ;
    z-index: 1200;
    position: absolute;
    background:white;
    margin-left:50%;
    border:1px solid #eee;
    box-shadow: 2px 3px 10px 0px #888;
    top:20%;
    right:40%;
}
.info:hover>.card{display:block}
